.tab {
    padding-top: 60px;
    background-color: #333;
    .btn {
        button {
            display: block;
            float: left;
            border: none;
            width: 70px;
            height: 40px;
            padding: 0;
            font-size: 15px;
            background-color: #ccc;
            outline: none;
            cursor: pointer;
            color: #999;
            &.on {
                background-color: #f7f7f7;
                color: #333;
            }
        }
        &::after {
            content: '';
            display: block;
            clear: both;
        }
    }
    .contents {
        background-color: #f7f7f7;
        padding: 10px;
        &>div {
            display: none;
            &.on {
                display: block;
            }
        }
    }

}

