.checkbox {

    input[type="checkbox"] {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    input[type="checkbox"] + label {
        display: block;
        position: relative;
        z-index: 10;
        width: 70px;
        height: 40px;
        line-height: 38px;
        text-align: center;
        cursor: pointer;
        color: #fff;
    }

    input[type="checkbox"] + label:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;
        width: 100%;
        height: 100%;
        background-color: #ccc;
        box-sizing: border-box;
    }

    input[type="checkbox"]:checked + label:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;
        width: 100%;
        height: 100%;
        background-color: skyblue;
    }
}
