/* background */
$loading-bg: rgba(255, 255, 255, 0.8);
$bar-bg: #ccc;

.loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: $loading-bg;

    .inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.5);
        width: 120px;
        height: 200px;

        div {
            position: absolute;
            border-radius: 15px;
            width: 30px;
        }
        
        div:nth-child(1) {
          left: 0;
          background: $bar-bg;
          animation: loading-inner-1 1s cubic-bezier(0,0.5,0.5,1) infinite;
          animation-delay: -0.2s
        }
        
        div:nth-child(2) {
          left: 45px;
          background: $bar-bg;
          animation: loading-inner-2 1s cubic-bezier(0,0.5,0.5,1) infinite;
          animation-delay: -0.1s
        }
        
        div:nth-child(3) {
          left: 90px;
          background: $bar-bg;
          animation: loading-inner-3 1s cubic-bezier(0,0.5,0.5,1) infinite;
          animation-delay: undefineds
        }
    }
  }
  
  
  @keyframes loading-inner-1 {
    0% { top: 36px; height: 128px }
    50% { top: 60px; height: 80px }
    100% { top: 60px; height: 80px }
  }
  @keyframes loading-inner-2 {
    0% { top: 41.99999999999999px; height: 116.00000000000001px }
    50% { top: 60px; height: 80px }
    100% { top: 60px; height: 80px }
  }
  @keyframes loading-inner-3 {
    0% { top: 48px; height: 104px }
    50% { top: 60px; height: 80px }
    100% { top: 60px; height: 80px }
  }