.card {
    float: right;
    position: relative;
    box-sizing: border-box;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px 10px 40px;
    width: 200px;
    word-break: break-all;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    
    .title {
        padding-right: 30px;
        font-size: 20px;
        font-weight: bold;
    }

    .link {
        position: absolute;
        bottom: 10px;
        left: 5%;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 4px 5px 5px;
        width: 90%;
        text-align: center;
        font-size: 12px;
        text-decoration: navajowhite;
        background-color: skyblue;
        color: #fff;
    }


    &:first-child {
        margin-left: 0;
    }
}