.card {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 0 10px;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 10px 40px;
    width: 100%;
    word-break: break-all;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;

    .kategorie {
        color: #999;
        font-size: 13px;
    }
    
    .title {
        position: relative;
        margin-top: 10px;
        font-size: 18px;
        line-height: 24px;;

        .link {
            display: inline-block;
            margin-left: 5px;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 20px;
        }
    }

    .text {
        margin-top: 10px;
        font-size: 14px;
        color: #666;
    }



    &:first-child {
        margin-left: 0;
    }
}
      