.form-search {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    
    input[type=text] {
        margin: 0;
        padding: 0 40px 0 10px;
        border: none;
        box-sizing: border-box;
        border-radius: 10px;
        width: 100%;
        height: 40px;
        background-color: #fff;
        outline: none;
    }
    
    button {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        border-radius: 10px;
        width: 40px;
        height: 40px;
        background-color: #fff;
        outline: none;
        cursor: pointer;
    }
}