.form-select {
    position: absolute;
    top: 0;
    left: 0;

    .inner {
        overflow-y: auto;
        height: 40px;
        -ms-overflow-style: none;
        scrollbar-width: none;
        
        &::-webkit-scrollbar {
            display: none;
        }
    }
}